* {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  margin: 0;
}
.app_container {
  display: flex;
  flex-direction: row;
  margin: 5% auto;
  height: 80vh;
  width: 100%;
  max-width: 90vw;
  align-self: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 220px;
  padding: 100px 0 0 0;
  background-color: rgb(62, 60, 60);
  /* background-color: rgb(244, 244, 244); */
  /* min-width: 20vw;
  max-width: 20vw; */
  height: 100%;
  min-height: 600px;
  position: relative;
  list-style: none;
  padding: 20px;
  box-sizing: border-box;
  color: #e6e6e6;
  /* color: #114566; */
  font-weight: 800;
  border-right: 1px solid #b6b3b3;
}

.add-activity-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  bottom: 40px;
  border-radius: 30px;
  font-size: 60px;
  align-self: center;
}

.sidebar div {
  padding: 30px;
  font-size: 20px;
  /* cursor: pointer; */
}

.sidebar div :hover {
  cursor: pointer;
}

.main-screen {
  background-color: rgb(255, 255, 255);
  width: 75%;
  height: 100%;
  box-sizing: border-box;
}
.projects_page .projects_project {
  padding: 10px;
}
.page_type {
  padding: 0 5px 5px 5px;
  text-align: center;
  font-size: 26px;
  font-weight: 800;
  background-color: rgb(255, 255, 255);
  color: rgb(30, 30, 30);
}

.add_task_page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px; /* Add a max-width for responsiveness */
  min-height: 420px;
  max-height: 450px;
  height: 45vh; /* Use viewport height for responsiveness */
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.add_task_header_info {
  position: absolute;
  box-sizing: border-box;
  left: 40%;
  top: 5%;
  text-align: center;
  color: white;
  font-size: 24px;
}

.add_task_close_btn {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5%;
  top: 5%;
  border-radius: 6px;
  border: 1px solid rgb(161, 158, 158);
}
.custom-line {
  border: 1px solid #b6b3b3; /* Set the color and style of the line */
  margin: 0; /* Adjust spacing around the line */
}

.add_task_header {
  width: auto;
  height: 12%;
  background-color: rgb(38, 38, 39);
  margin: 0;
  padding: 8px;
}
.add_task_sidebar {
  display: flex;
  flex-direction: column;
  width: 34%;
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.add_task {
  width: 100%;
  height: 15%;
  margin: 2% 0; /* Use percentage for margin */
  padding: 4% 2%; /* Use percentage for padding */
  font-size: 20px;
}
/* .add_task_content {
  
  padding: 20px 8px 10px 8px; 
} */
.add_task_content,
.add_project_content,
.add_note_content {
  flex: 1;
  padding: 20px 8px 10px 8px;
  box-sizing: border-box;
  overflow-y: auto; /* Add scrolling for smaller screens */
}

.add_note_content {
  flex-direction: column;
}
.add_tasks_content {
  height: 84%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
#append_task_to {
  position: absolute;
  bottom: 8.2%;
  right: 10%;
  background-color: #b6b3b3;
  border: 0;
  border-radius: 10px;
  padding: 2px 5px;
}

#dateTimeForm {
  margin-top: auto;
  padding: 5% 5%; /* Use percentage for padding */
  position: absolute;
  bottom: 10%;
  box-sizing: border-box;
}
#dateTimeForm input,
#dateTimeForm label {
  padding: 5px;
  margin: 5px;
}
#add_task_input {
  border: 0px;
  width: 100%; /* Use percentage for width */
  max-width: 100%; /* Set a maximum width */
  max-height: 28vh; /* Adjust the maximum height as needed */
  box-sizing: border-box;
}

/* .add_note_content {
  display: none; 
  flex-direction: column;
  width: 100%;
  padding: 5% 5% 5% 0; 
} */

.add_note_content:not(.hidden) {
  display: flex;
}
#add_note_title,
#add_task_title {
  align-self: center;
  margin: 0;
  border: 1px solid #ccc; /* Add a border for a more polished look */
  resize: none;
  width: 90%;
}
#add_task_title {
  border: 0;
}
#add_note_input {
  align-self: center;

  margin: 7px 0;
  border: 1px solid #ccc; /* Add a border for a more polished look */
  resize: none; /* Disable textarea resizing handle */
  overflow-y: auto; /* Enable vertical scrolling */
  height: 70%;
  width: 90%;
}

#add_note_input:focus,
#add_note_title:focus,
#add_task_input:focus,
#add_task_title:focus {
  outline: none; /* Remove the default focus outline */
}
.add_note_btn,
.add_project_btn,
.add_task_btn {
  position: absolute;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  bottom: 7%;
  left: 54%;
  background-color: #1da1f2;
  border: 1px solid rgb(137, 147, 160);
  color: white;
}

#add_project_content {
  width: 100%;
}
.add_project_input,
#add_task_input {
  resize: none;
  margin: 10px 0;
  border: 0px;
  height: 70%;
  width: 90%;
}

#add_task_input {
  height: 50%;
}
.add_project_input:focus {
  outline: none; /* Remove the default focus outline */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(122, 122, 122, 0.6);
  backdrop-filter: blur(1.5px);
  z-index: 5;
}

.notes {
  /* display: flex; */

  flex-wrap: wrap;
  margin: 25px;
}

.note {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  width: 190px;
  height: auto;
  padding: 10px;
  text-align: center;
  background-color: rgb(246, 236, 224);
  margin: 10px 15px;
  position: relative;
  border-radius: 6px;
}

.note_dlt_btn,
.note_edit_btn {
  margin: 5px 0;
  border-radius: 7px;
  border: 0;
  height: 25px;
  width: 25px;
  background-color: #cad1d6;
  color: #000000;
  font-size: 18px;
  text-align: center;
  font-weight: 900;
}

.note_btns {
  margin-top: auto;
}

.sidebar .side-page:hover {
  cursor: pointer;
}

.note_title {
  font-weight: 900;
  font-size: 24px;
}

/* Task page content */
.task {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 90%;
  flex-wrap: nowrap;
  width: auto;
  height: 50px;
  background-color: #f2edf3;
  border: 1px solid rgb(175, 185, 189);
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 10px 10px 13px -18px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);

  margin: 15px;
  overflow: hidden;
}

.task-text,
.task-title,
.task-data,
.task-time {
  padding: 10px;
  text-align: center;
}

.task-text {
  height: inherit;
  /* width: 60%; */
  flex-grow: 8;
  padding: 10px;
  overflow-y: auto;
  box-sizing: border-box;
  text-align: center;
}
.task-time,
.task-data {
  flex-grow: 2;
}

.task-title {
  width: inherit;
  margin: 0 0 0 30px;
  font-weight: 700;
  font-size: 20px;
  overflow: visible;
  color: #6c065a;
}

/* Scrollbar design */
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: auto;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(218, 112, 112);
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.project {
  width: 90%;
  margin: 10px 20px;
  background-color: #e1d9d9;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 1000;
  color: #670655;
}

/* Checkbox */
.control_indicator {
  /* position: ; */
  width: 25px;
  height: 25px;
  margin: 10px;
  flex-grow: 1;
  background: #e6e6e6;
  border: 0px dashed #000000;
  border-radius: 10px;
}
.control_indicator:checked {
  background-color: #000000;
}

.task_dlt_btn {
  /* flex-grow: 1; */
  margin-right: 10px;
  border-radius: 7px;

  background-color: #b2281c;
  color: white;
  font-size: 10px;
  /* text-align: center; */

  height: 20px;
  width: 20px;
  border: 1px solid rgb(147, 131, 111);
}
