* {
  margin: 0;
}

html,
body {
  /* display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; */
  margin: 0;
}
.app_container {
  display: flex;
  flex-direction: row;
  margin: 5% auto;
  height: 90vh;
  width: 80%;
  max-width: 800px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: rgb(244, 244, 244);
  height: 100%;
  /* justify-content: space-around; */
  list-style: none;
  padding: 20px;
  box-sizing: border-box;
}

.add-activity-btn {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  font-size: 50px;
  margin-top: auto;
}

.sidebar li {
  padding: 20px 0;
  font-size: 20px;
}

.main-screen {
  background-color: rgb(255, 255, 255);
  width: 75%;
  height: 100%;
  box-sizing: border-box;
}
.sidebar ul {
  margin: 0;
}
.page_type {
  padding: 20px;
  text-align: center;
  font-size: 24px;
  background-color: rgb(255, 255, 255);
}

.add_task_page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px; /* Add a max-width for responsiveness */
  height: 60vh; /* Use viewport height for responsiveness */
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.add_task_header_info {
  position: absolute;
  box-sizing: border-box;
  left: 40%;
  top: 5%;
  text-align: center;
  color: white;
  font-size: 24px;
}

.add_task_close_btn {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5%;
  top: 5%;
  border-radius: 4px;
  border: 1px solid rgb(161, 158, 158);
}
.custom-line {
  border: 1px solid #000; /* Set the color and style of the line */
  margin: 0 5px; /* Adjust spacing around the line */
}

.add_task_header {
  width: auto;
  height: 12%;
  background-color: rgb(168, 176, 176);
  margin: 0;
  padding: 8px;
}
.add_task_sidebar {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: #e6b4b4;
  padding: 20px;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.add_task {
  width: 100%;
  height: 15%;
  margin: 2% 0; /* Use percentage for margin */
  padding: 4% 2%; /* Use percentage for padding */
  font-size: 20px;
}
.add_task_main_screen {
  flex: 1; /* Use flex property to allow it to grow and fill the available space */
  background-color: lightgray; /* Add a background color for visualization */
  padding: 20px; /* Add padding for spacing */
}
.add_task_content {
  height: 84%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

#dateTimeForm {
  margin-top: auto;
  padding: 20px 10px;
  bottom: 5%;
}
.add_note_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin-top: auto; */
  padding: 20px 10px;
}
#add_note_input {
  border: 0.5px solid rgb(204, 181, 181);
  text-decoration: dotted;
}
.add_note_btn {
  position: absolute;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  bottom: 13%;
  left: 54%;
  background-color: #1da1f2;
  border: 1px solid rgb(137, 147, 160);
  color: white;
}
